.album {
  width: 100vw;
  height: auto;
  background-color: #f8ebd3;
  padding: 1px 0px 40px 0px;
  color: #4e4d4d;
  font-size: 16px;

  & h3 {
    font-size: 25px;
    margin: 40px 0px 25px 150px;
  }
}

.thumb {
  width: 152px;
  height: 90px;
  margin: 7px;
}

h4 {
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .album {

    & h3 {
      margin: 40px 0px 25px 15px;
    }
  }
  .album .container .row .col-xs-6 {
    width: 45%;
  }

  .thumb {
    margin-bottom: 15px;
  }

}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  .thumb {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 580px) and (max-width: 663px) {
  .thumb {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 663px) {
  .album .container .row .col-xs-6 {
    width: 30%;
  }

  .album h3 {
    margin: 40px 0px 25px 15px;
  }
}

@media only screen and (min-width: 663px) and (max-width: 992px) {
  .album .container .row .col-md-2 {
    width: 22%;
  }

  .album h3 {
    margin: 40px 0px 25px 30px;
  }
}

@media only screen and (min-width: 820px) and (max-width: 992px) {
  .album h3 {
    margin: 40px 0px 25px 80px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .album .container .row .col-md-2 {
    width: 18%;
  }

  .album h3 {
    margin: 40px 0px 25px 90px;
  }

  .thumb {
    margin-bottom: 25px;
  }
}
