.main-button {
  border-radius: 6px;
  color: white;
  background-color: #6abe71;
  border-color: #6abe71;
  padding: 3px 10px;
}

.main-button:hover {
  background-color: #49a961;
  border-color: #49a961;
}

