.main-button {
  border-radius: 5px;
  color: white;
  background-color: #6ABE7F;
  border-color: #6ABE7F;
  padding: 3px 10px;
}

.main-button:hover {
  background-color: #49a961;
  border-color: #49a961;
}

