.main-button {
  border-radius: 6px;
  color: white;
  background-color: #6abe71;
  border-color: #6abe71;
  padding: 5px 10px;
}

.main-button:hover {
  background-color: #45a75d;
  border-color: #45a75d;
}

