#contact-modal {
  color: #4e4d4d;
  text-align: center;
}

#map-modal {
  color: #4e4d4d;
  text-align: center;

  & .map-image {
    width: 800px;
    height: 1000px;
  }

  & .modal-dialog {
    width: 875px;
    height: 1050px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  #map-modal {

    & .map-image {
      width: 325px;
      height: 425px;
    }

    & .modal-dialog {
      width: 350px;
      height: 450px;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 725px) {
  #map-modal {

    & .map-image {
      width: 425px;
      height: 600px;
    }

    & .modal-dialog {
      width: 450px;
      height: 625px;
    }
  }
}

@media only screen and (min-width: 635px) and (max-width: 768px) {
  #map-modal {

    & .map-image {
      width: 525px;
      height: 700px;
    }

    & .modal-dialog {
      width: 550px;
      height: 725px;
    }
  }
}

// @media only screen and (min-width: 725px) and (max-width: 768px) {
//   #map-modal {

//     & .modal-dialog {
//       margin-left: 65px;
//     }
//   }
// }

@media only screen and (min-width: 725px) and (max-width: 950px) {
  #map-modal {

    & .map-image {
      width: 600px;
      height: 800px;
    }

    & .modal-dialog {
      width: 625px;
      height: 825px;
    }
  }
}

