.banner {
  width: 100vw;
  height: 500px;
  background-color: #6abe71;
  position: relative;
}

.main-text {
  color: #fff;
  position: absolute;
  z-index: 12;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  width: 550px;

  & h1 {
    font-size: 65px;
  }

  & h5 {
    font-size: 50px;
  }
}

.carousel-inner {

  & .item img {
    height: 500px;
    width: 100vw;
  }
}

@media only screen and (min-width: 350px) and (max-width: 500px) {
  .banner {
    height: 250px;
  }

  .carousel-inner {

    & .item img {
      height: 250px;
    }
  }

  .main-text {
    width: 325px;

    & h1 {
      font-size: 35px;
    }

    & h5 {
      font-size: 25px;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 585px) {
  .banner {
    height: 300px;
  }

  .carousel-inner {

    & .item img {
      height: 300px;
    }
  }

  .main-text {
    width: 425px;

    & h1 {
      font-size: 40px;
    }

    & h5 {
      font-size: 30px;
    }
  }
}

@media only screen and (min-width: 585px) and (max-width: 700px) {
  .main-text {
    width: 450px;

    & h1 {
      font-size: 42px;
    }

    & h5 {
      font-size: 32px;
    }
  }
}

@media only screen and (min-width: 585px) and (max-width: 992px) {
  .banner {
      height: 375px;
    }

  .carousel-inner {

    & .item img {
      height: 375px;
    }

  .main-text {
    width: 475px;

      & h1 {
        font-size: 45px;
      }

      & h5 {
        font-size: 35px;
      }
    }
  }
}

