.banner {
  width: 100vw;
  height: auto;
  background-color: #7ebe6a;
  position: relative;

  & img {
    width: 100vw;
  }
}

.main-text {
  color: #fff;
  position: absolute;
  z-index: 12;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  width: 550px;

  & h1 {
    font-size: 65px;
  }

  & h5 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 500px) {
  .banner {

    & img {
      height: 235px;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 585px) {
  .banner {

    & img {
      height: 275px;
    }
  }
}

@media only screen and (min-width: 585px) and (max-width: 725px) {
  .banner {

    & img {
      height: 325px;
    }
  }
}

@media only screen and (min-width: 725px) and (max-width: 992px) {
  .banner {

    & img {
      height: 425px;
    }
  }
}


