.banner {
  width: 100vw;
  height: 500px;
  background-color: #6abe71;
  position: relative;
}

.main-text {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 30%;
  left: 0;
  width: 100%;
  text-align: center;


  & h1 {
    font-size: 65px;
  }

  & h5 {
    font-size: 50px;
  }
}

.carousel-inner {

  & .item img {
    height: 500px;
    width: 100vw;
  }

  & .carousel-caption {
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .banner {
    height: 250px;
  }

  .carousel-inner {

    & .item img {
      height: 250px;
    }

    & .carousel-caption {
      margin-bottom: 50px;
    }

    & h1 {
      font-size: 30px;
    }

    & h5 {
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 992px) {
.banner {
    height: 375px;
  }

  .carousel-inner {

    & .item img {
      height: 375px;
    }

    & .carousel-caption {
      margin-bottom: 100px;
    }

    & h1 {
      font-size: 40px;
    }

    & h5 {
      font-size: 30px;
    }
  }
}


// @media only screen and (min-width: 992px) and (max-width: 1200px) {
//   .album .container .row .col-md-2 {
//     width: 18%;
//   }

//   .album h3 {
//     margin: 40px 0px 25px 90px;
//   }

//   .thumb {
//     margin-bottom: 25px;
//   }
// }

