.footer {
  background-color: #586D9D;
  width: 100vw;
  height: 390px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  padding: 20px 25px 25px 70px;

  & h3 {
    font-size: 25px;
    margin-bottom: 70px;
  }

  & p {
    font-size: 16px;
    margin: 1px;
  }

  & h6 {
    font-size: 11px;
    margin: 75px -65px 0px;
  }
}

.contact-form {
  padding: 45px 0px 0px 85px;
  color: #4e4d4d;

  & form {
    width: 300px;
  }

  & #name {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
    border: 1px solid grey;
  }

  & #email {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
    border: 1px solid grey;
  }

  & #message {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
    border: 1px solid grey;
  }

  & #button-submit {
    margin-left: 215px;
  }
}

@media screen and (max-width: 1024px) {
  .contact-form {
    display: none !important;
  }
}

.map {
  height: 390px;
  width: 700px;
  background-color: grey;
}


