<% text = data.content.first.about.split(" ") %>

<% formatted_text = text.each_slice( (text.size/2.0).round ).to_a %>

<div class="about">
  <h3>Over ons</h3>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6" id="part-1">
          <%= formatted_text[0].join(" ") %>
          <rb>
        </div>
        <div class="col-xs-12 col-sm-6" id="part-2">
          <%= formatted_text[1].join(" ") %>
          <rb>
        </div>
      </div>
    </div>
  </div>
</div>

