<div class="footer">

  <div class="footer-content">
    <h3>Contact</h3>
    <p>WBE Roosendaal</p>
    <p>Postbus 23341</p>
    <p>3001 KH Rotterdam</p>
    <br>
    <p>KvK nummer: 40283604</p>
    <p>IBAN: NL84RABO0174376316</p>
    <br>
    <p>Email: secretariaatwberoosendaal@gmail.com</p>
    <h6>Website powered by Josephina Bos</h6>
  </div>

  <div class="contact-form">
    <form action="https://getsimpleform.com/messages?form_api_token=9b160861a87bad8d14eecb0be12d16dd" method="post">
      <input type="text" name="name" id="name" placeholder="Uw Naam">
      <br>
      <input type="email" name="email" id="email" placeholder="Uw Emailadres">
      <br>
      <textarea rows="7" name="message" id="message" placeholder="Uw Bericht"></textarea>
      <button type="submit" data-toggle="modal" data-target="#contact-modal" class="main-button" id="button-submit">Verzend</button>
    </form>
  </div>

  <div class="map">
    <%= image_tag ("images/footer-left.png") %>
    <div class="clickable-map" data-toggle="modal" data-target="#map-modal"><i class="fa fa-search-plus" aria-hidden="true" id="search-plus"></i></div>
  </div>

  <div class="small-map">
    <%= image_tag ("images/footer-left-small.png") %>
    <div class="clickable-map-small" data-toggle="modal" data-target="#map-modal"><i class="fa fa-search-plus" aria-hidden="true" id="search-plus"></i></div>
  </div>

  <div id="map-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ons Werkgebied</h4>
        </div>
        <div class="modal-body">
          <%= image_tag ("/images/map.jpg"), class: "map-image" %>
        </div>
      </div>
    </div>
  </div>

  <div id="contact-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Bedankt!</h4>
        </div>
        <div class="modal-body">
          <p>Uw bericht is verzonden, u ontvangt spoedig een antwoord</p>
        </div>
      </div>
    </div>
  </div>
</div>
