<div class="footer">

  <div class="footer-content">
    <h3>Contact</h3>
    <p>Naam Vereniging</p>
    <p>Oude Looiersstraat 89H</p>
    <p>1016VH Amsterdam</p>
    <br>
    <p>Tel: 06-55173855</p>
    <p>Email: josephinabos@gmail.com</p>
    <h6>Website powered by: Josephina Bos</h6>
  </div>

  <div class="contact-form">
    <form action="https://getsimpleform.com/messages?form_api_token=9b160861a87bad8d14eecb0be12d16dd" method="post">
      <input type="text" name="name" id="name" placeholder="Uw Naam" />
      <br>
      <input type="email" name="email" id="email" placeholder="Uw Email" />
      <br>
      <textarea rows="7" name="message" id="message" placeholder="Uw Bericht"></textarea>
      <button type="submit" data-toggle="modal" data-target="#contactModal" class="main-button" id="button-submit">Verzend</button>
    </form>
  </div>

  <div class="map">

  </div>

  <div id="contactModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Bedankt!</h4>
        </div>
        <div class="modal-body">
          <p>Uw bericht is verzonden, u ontvangt spoedig een antwoord</p>
        </div>
      </div>
    </div>
  </div>
</div>
